<%= form_for(tag) do |f| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :target, "Embed Target" %>
    <%= f.select :target, ["head", "body"], {}, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :custom_html, "Custom HTML" %>
    <%= f.text_area :custom_html, class: "form-control", rows: 12, required: true %>
  </div>

  <div class="form-group">
    <label>Triggers</label>
    <ul class="list-unstyled">
    <% ::PixelFire::Trigger.all.order(name: :asc).each do |trigger| %>
      <li>
        <label style="font-weight: normal;">
          <input type="checkbox" name="trigger_ids[]"
                 value="<%= trigger.id %>" <%= "checked=\"checked\"" if tag.triggers.include?(trigger) %> />
          <%= trigger.name %>
        </label>
      </li>
    <% end %>
    </ul>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
