<p id="notice"><%= notice %></p>

<h1 class="page-header">
  <%= link_to 'New Tag', new_tag_path, class: "pull-right btn btn-default" %>
  Tags
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Target</th>
      <th>Triggers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.target %></td>
        <td>
          <% tag.triggers.each do |trigger| %>
            <span class="label label-default"><%= trigger.name %></span>
          <% end %>
        </td>
        <td class="text-right">
          <%= link_to 'Show', tag, class: "btn btn-xs btn-info" %>
          <%= link_to 'Edit', edit_tag_path(tag), class: "btn btn-xs btn-primary" %>
          <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
