<p id="notice"><%= notice %></p>

<h1 class="page-header">
  <%= link_to 'Back', tags_path, class: "pull-right btn btn-link" %>
  <%= link_to 'Edit', edit_tag_path(@tag), class: "pull-right btn btn-primary" %>
  Tag: <%= @tag.name %>
</h1>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Custom HTML:</strong>
  <pre><%= @tag.custom_html %></pre>
</p>

<p>
  <strong>Triggers:</strong>
  <ul>
    <% @tag.triggers.each do |trigger| %>
      <li><%= trigger.name %></li>
    <% end %>
  </ul>
</p>
