<%= form_for(trigger) do |f| %>
  <% if trigger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>

      <ul>
      <% trigger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :fire_on_all_pages %>
    <%= f.check_box :fire_on_all_pages %>
  </div>

  <div class="field">
    <%= f.label :page_url %>
    <%= f.text_field :page_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
