<p id="notice"><%= notice %></p>

<h1 class="page-header">
  <%= link_to 'New Trigger', new_trigger_path, class: "pull-right btn btn-default" %>
  Triggers
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>All Pages?</th>
      <th>URL Contains</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @triggers.each do |trigger| %>
      <tr>
        <td><%= trigger.name %></td>
        <td><%= trigger.fire_on_all_pages %></td>
        <td><code><%= trigger.page_url %></code></td>
        <td>
          <% trigger.tags.each do |tag| %>
            <span class="label label-default"><%= tag.name %></span>
          <% end %>
        </td>
        <td class="text-right">
          <%= link_to 'Show', trigger, class: "btn btn-xs btn-info" %>
          <%= link_to 'Edit', edit_trigger_path(trigger), class: "btn btn-xs btn-primary" %>
          <%= link_to 'Destroy', trigger, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
