<p id="notice"><%= notice %></p>

<h1 class="page-header">
  <%= link_to 'Back', triggers_path, class: "pull-right btn btn-link" %>
  <%= link_to 'Edit', edit_trigger_path(@trigger), class: "pull-right btn btn-primary" %>
  Trigger: <%= @trigger.name %>
</h1>

<p>
  <strong>Name:</strong>
  <%= @trigger.name %>
</p>

<p>
  <strong>Fire on all pages:</strong>
  <%= @trigger.fire_on_all_pages %>
</p>

<p>
  <strong>URL Contains:</strong>
  <code><%= @trigger.page_url %></code>
</p>

<p>
  <strong>Tags:</strong>
  <ul>
    <% @trigger.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</p>
